html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

.login-wrapper {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.login-self {
    padding: 80px 0 0 0;
}

.top-bar, .top-bar ul {
    background-color: #30C2FF;
}

.title-bar h1 {
    margin: 0;
}

.title-bar {
    background-color: #30C2FF;
}

.cell h1 {
    color: #fafcff;
}

.mid-bar {
    text-align: center;
}

.logo-self {
    text-align: right;
}

.top-bar-right {
    text-align: right;
}


.nohover {
    pointer-events: none;
}

.menu {
    text-align: center;
}

.menu li a {
    color: #fafcff
}

.cell h4 {
    color: #fafcff;
    margin: 0;
}

.cell label {
    text-align: left
}

/* Content */

.login-sec {
    width: 350px;
    background: #eaeaea;
    text-align: center;
    -webkit-box-shadow: 0px 0px 127px 8px rgba(105,104,105,1);
    -moz-box-shadow: 0px 0px 127px 8px rgba(105,104,105,1);
    box-shadow: 0px 0px 127px 8px rgba(105,104,105,1);
}

.login-landing {
    padding: 0 25px;
}

.login-landing h2 {
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    margin: 20px;
    font-weight: 700;
}

.login-landing h3 {
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    margin: 20px;
    color: #95a5a6;
}

.small-6 h1 {
    color: #fafcff;
}

.item-event {
    background-color: #fafcff;
    padding: 20px;
    border-radius: 20px;
    vertical-align: middle;
}

.item-event h4 {
    color: black;
}

#thover{
    position:fixed;
    background:#000;
    width:100%;
    height:100%;
    opacity: .6
  }
   
  #tpopup{
    position:absolute;
    width:600px;
    height:180px;
    background:#fff;
    left:50%;
    top:50%;
    border-radius:5px;
    padding:60px 0;
    margin-left:-320px; /* width/2 + padding-left */
    margin-top:-150px; /* height/2 + padding-top */
    text-align:center;
    box-shadow:0 0 10px 0 #000;
  }
  #tclose{
    position:absolute;
    background:black;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #000;
  }


/* Screen */
@media(max-width: 767px) {
    .introduction {
        width: 16rem;
        margin: 150px 0 10% 10%;
    }

    .introduction h1 {
        font-size: 40px;
    }

    .title-bar {
        background: #30C2FF;
    }

    .top-bar, .top-bar ul {
        background: #30C2FF;
    }
    
}