body {
    background-color: #E5E5E5;
}

#container-home {
    height: 1450px;
    background-color: #ECF0F1;
}

#container {
    background-color: #ECF0F1;
}

.prof-pic {
    width: 100%;
    height: 50%;
    /* background-color: #34495E; */
    background-image: url(../img/aryo.jpg);

    background-size: cover;
}

.prof-detail {
    padding: 20px 10px 10px 15px;
    height: 50%;
}

.prof-detail h4 {
    color: #34495E;
}

.head-bar {
    max-height: 390px;
}

.detail {
    height: 160px;
    background-color: #34495E;
}

.menu-bar {
    height: 47px;
    background-color: #30C2FF;
}

.color {
    background-color: #FFFFFF;
}

.color1 {
    background-color: #30F6AF;
}

.img-header {
    height: 300px;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.float-profile-self {
    z-index: 10;
    position: absolute;
    height: 750px;
    width: 300px;
    margin: 200px 0px 0px 100px;
}

.float-name-self {
    z-index: 10;
    position: absolute;
    margin: 200px 0px 0px 450px;
}

.top-bar-section ul {
    background-color: #30C2FF;
}

.menu li {
    background-color: #30C2FF;
    color: #FFFFFF;
}

.menu a {
    color: #FFFFFF;
}

.active-self a {
    background-color: #269FD1;
}

.top-bar {
    padding: 0;
}

.menu li a {
    vertical-align: middle;
    padding: 1rem;
}

.timeline-self {
    margin: 20px 0 0 0;
    padding: 1 0px;
    height: 50%;
    background-color: #ffffff;
}

.medium-horizontal li a {
    padding: 16px 40px ;
}

.menu-bar-self {
    padding: 0 0 0 450px;
}

.name h1 {
    text-shadow: 2px 2px 8px #ffffff;
}

.name-medium-small-self {
    padding: 100px 0 0 0;
    text-shadow: 2px 2px #ff0000;
}

.detail h1 {
    text-shadow: 3px 3px #269FD1;
}

.detail h3 {
    text-shadow: 2px 2px #269FD1;
}

.name-medium-small-self h1 {
    color: #ECF0F1;
}


.portofolio-self {
    margin: 20px 0 0 0px;
    padding: 1 0px;
    background-color: #ffffff;
}

.about-self {
    margin: 20px 0 0 0px;
    padding: 20px;
    background-color: #ffffff;
}

.item-on-about {
    margin: 20px 0;
}

.one-row {
    /* background-color: #34495E; */
    height: 200px;
    padding: 4% 6% 4% 6%;
}


.title-porto-self {
    padding: 20px;
}


.message-self {
    margin: 20px 0 0 0px;
    padding: 20px;
    background-color: #ffffff;
}


.icon-padding {
    padding: 0;
}

.login-self {
    margin: 20px 0 0 0px;
    padding: 100px 0 0 0;
}

.login-landing {
    padding: 50px 0 0 0;
}


.register-self {
    margin: 20px 0 0 0px;
    padding: 20px;
    background-color: #ffffff;
}

.line-about {
    border-bottom: 2px solid #000;
    width: 40%;
}


.timeline .timeline-item::after, .timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
}

.timeline {
margin: 30px auto;
padding: 0 10px;
position: relative;
transition: all 0.25s ease-in;
width: 100%;
}

.timeline::before {
background: #34495E;
content: '';
height: 100%;
left: 50%;
position: absolute;
top: 0;
width: 3px;
}

.timeline::after {
clear: both;
content: '';
display: table;
width: 100%;
}

.timeline a {
color: #fefefe;
font-weight: bold;
transition: all 0.25s ease-in;
}

.timeline a:hover {
box-shadow: 0 1px 0px 0px #fefefe;
transition: all 0.25s ease-in;
}

.timeline .timeline-item {
margin-bottom: 50px;
position: relative;
}

.timeline .timeline-item .timeline-icon {
background: #34495E;
border-radius: 50%;
height: 50px;
left: 50%;
margin-left: -23px;
overflow: hidden;
position: absolute;
top: 0;
width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
left: 14px;
position: relative;
top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
top: 14px;
}

.timeline .timeline-item .timeline-content {
padding: 20px;
text-align: right;
transition: all 0.25s ease-in;
width: 45%;
background: transparent;
}

.timeline .timeline-item .timeline-content p {
color: #000000;
}

.timeline .timeline-item .timeline-content p {
font-size: 16px;
line-height: 1.4;
margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
font-size: 16px;
font-weight: bold;
margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
font-size: 0.875rem;
text-transform: uppercase;
font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
float: right;
text-align: left;
}

.timeline-icon svg {
    fill: #ffffff;
}


  
@media screen and (max-width: 60.9375em) {
    .float-profile-self {
        z-index: 10;
        position: absolute;
        height: 300px;
        width: 225px;
        margin: 90px 30% 0 20%;
    }

    .detail h1 {
        text-shadow: 0px 0px 0px #ffffff;
    }

    .medium-horizontal li a {
        padding: 16px 13px ;
    }

    .menu-bar-self {
        padding: 0;
    }

    .prof-pic {
        height: 100%;
    }
    
    .timeline {
      margin: 30px;
      padding: 0;
      width: 90%;
    }

    .timeline::before {
      left: 0;
    }
    .timeline .timeline-item .timeline-content {
      float: right;
      text-align: left;
      width: 90%;
    }
    .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
      border-left: 0;
      border-right: 7px solid #bdc3c7;
      left: 10%;
      margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
      left: 0;
    }

    .timeline-self {
        margin: 20px 0 0 0;
    }
  }



  
  