{% extends "base.html" %}

{% block main %}

<div class="content grid-x">
    <div class="cell medium-4" style="background-color: #ECF0F1">

    </div>
    <div class="cell medium-7 about-self grid-x text-center">
        <div class="cell medium-12 grid-x item-on-about">
            <div class="cell medium-12">
                <!-- <div class="line-about"></div> -->
                <div>
                    <svg style="margin: 10px;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"/></svg>
                </div>
                <!-- <div class="line-about"></div> -->
            </div>
            <div class="cell medium -12">
                <p> Curios and organized person who has passion in technology, great listener, enjoy working with a lot of different people, and also a creative thinker. </p>
            </div>
        </div>
        
        <div class="cell medium-12 grid-x item-on-about">
            <div class="cell medium-12">
                <h1><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M20 12.875v5.068c0 2.754-5.789 4.057-9 4.057-3.052 0-9-1.392-9-4.057v-6.294l9 4.863 9-3.637zm-8.083-10.875l-12.917 5.75 12 6.5 11-4.417v7.167h2v-8.25l-12.083-6.75zm13.083 20h-4c.578-1 1-2.5 1-4h2c0 1.516.391 2.859 1 4z"/></svg></h1>
            </div>
            <div class="medium-12">
                <p>Faculty of Computer Science, University of Indonesia — Bachelor
                    <br> JULY 2017 - PRESENT</p>
            </div>
        </div>
                            
        <div class="cell medium-12 grid-x item-on-about">
            <div class="cell medium-12">
                <h1><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M4.104 0l-4.104 4.152 18.888 18.799 5.112 1.049-.961-5.203-18.935-18.797zm15.946 21.502c-.167.166-.436.166-.602 0l-17.262-17.124c-.167-.167-.167-.435-.001-.603.166-.166.437-.166.603 0l17.262 17.126c.167.165.166.435 0 .601zm1.544-2.132c.166.166.166.437 0 .603-.166.165-.436.166-.602 0l-17.263-17.126c-.165-.165-.165-.435 0-.601.167-.166.436-.166.601-.001l17.264 17.125zm-2.855-14.067c-.195-.195-.195-.512 0-.707s.512-.195.707 0 .195.512 0 .707-.511.196-.707 0zm-7.734 12.641l-6.055 6.056-4.95-4.908 6.059-6.059 1.419 1.41-.407.407.707.707-.707.707-.707-.707-.707.707.707.707-.707.707-.707-.707-.707.707.707.707-.707.707-.707-.707-.707.708 2.121 2.121 4.657-4.657 1.398 1.387zm2.035-11.892l6.052-6.052 4.908 4.95-6.013 6.014-1.398-1.388 4.625-4.625-2.121-2.121-2.121 2.12.707.707-.708.708-.707-.707-.707.707.707.707-.707.707-.707-.708-.39.39-1.42-1.409z"/></svg></h1>
            </div>
            <div class="cell medium-6">
                <p>
                    Python<br>
                    Java<br>
                    Pascal
                </p>
            </div>
            <div class="cell medium-6">
                <p>
                    HTML5
                    <br>
                    CSS3
                    <br>
                    JavaScript
                </p>
            </div>
        </div> 
        
    </div>
    
</div>

{% endblock %}