{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{%static "css/app.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/foundation.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/foundation.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/styleacc.css" %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <title>
            {{ title }}
        </title>
        <script src="{%static "js/app.js" %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>

    <body>
        <div class="title-bar grid-x" data-responsive-toggle="example-menu" data-hide-for="medium">
            <div class="cell small-6">
                <h1>PROFILE</h1>
            </div>
            <div class="logo-self cell small-6">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            </div>
            
        </div>
            
        <div class="top-bar grid-x show-for-small-only" id="example-menu">           
            <div class="cell medium-shrink">
                <ul class="menu medium-horizontal large-horizontal" data-responsive-menu="small-accordion medium-dropdown" style="width: 100%;">
                    <li class= {{ homstat }}><a href="{% url 'myweb:index' %}">Timeline</a></li>
                    <li class= {{ porstat }}><a href="{% url 'myweb:portofolio' %}">Portofolio</a></li>
                    <li class= {{ abtstat }}><a href="{% url 'myweb:about' %}">About</a></li>
                    <li class= {{ msgstat }}><a href="{% url 'myweb:message' %}">Message</a></li>
                    <li class= {{ scdstat }}><a href="{% url 'myweb:view_sched' %}">Schedule</a></li>
                    <li><a style="padding: 12px 15px 12px 15px; fill: #ffffff" href="{% url 'myweb:login' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"/></svg></a></li>
                </ul>
                
            </div>
        </div>
        
        <div id="container-home">
            <div class="float-profile-self align-center grid-x color">
                <div class="prof-pic">
                </div>
                <div class="show-for-large prof-detail">
                    <h4>ABOUT</h4>
                    <p class="text-justify"> Curios and organized person
                        who has passion in technology,
                        great listener, enjoy ...
                    </p style="padding: 10px">

                    <h6>
                        <a href="{% url 'myweb:about' %}">Read more...</a>
                    </h6>

                    <h4 class="text-center"> ______________ </h4>
                    <br>
                    <svg style="fill: #0077b5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg>
                    <p style="display: inline-block; vertical-align: middle">linkedin.com/in/aryo-tinulardhi</p>                    
                    <br>
                    <svg style="fill: #d9534f" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.02c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 12.55l-5.992-4.57h11.983l-5.991 4.57zm0 1.288l-6-4.629v6.771h12v-6.771l-6 4.629z"/></svg>
                    <p style="display: inline-block; vertical-align: middle">aryo.tinulardhi@ui.ac.id</p>   
                    <br>
                    <svg style="fill: #25d366" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.5 17.311l-1.76-3.397-1.032.505c-1.12.543-3.4-3.91-2.305-4.497l1.042-.513-1.747-3.409-1.053.52c-3.601 1.877 2.117 12.991 5.8 11.308l1.055-.517z"/></svg>
                    <p style="display: inline-block; vertical-align: middle">(+62)813-2251-7737</p> 

                </div>
            </div>


            <div class="show-for-large float-name-self grid-x">
                <div class="name">
                    <h1 style="color: #34495E">ARYO TINULARDHI</h1>
                </div>
            </div>


            <div class="header">
                <div class="img-header">
                    <div class="header-image">

                    </div>
                    <div class="header-name">
                        
                    </div>
                </div>
                <div class="profile">
                    <div class="prof-pic1">

                    </div>
                    <div class="biodata">
                        
                    </div>
                </div>
                <div class="head-bar">
                    <div class="detail">
                        <div style="text-align: center;" class="hide-for-medium name-medium-small-self">
                            <h1>ARYO TINULARDHI</h1>
                        </div>
                        <div class="grid-x show-for-large" style="margin: 0 0 0 450px; padding: 10px; color: #ffffff;">
                            <div class="cell auto">
                               <h3>AGE</h3>
                               <h1 style="font-size: 4rem">19</h1>
                            </div>
                            <div class="cell auto">
                                <h3>PROJECT</h3>
                                <h1 style="font-size: 4rem">15</h1>
                            </div>
                            <div class="cell auto">
                                <h3>COUNTRY</h3>
                                <h1 style="font-size: 4rem">ID</h1>
                            </div>
                        </div>
                    </div>
                    <nav class="menu-bar top-bar show-for-medium" style="background-color: #30C2FF" data-topbar role="navigation">
                        <section class="menu-bar-self top-bar-section top-bar-left">
                        <!-- Right Nav Section -->
                            <ul class="medium-horizontal left no-bullet menu">
                                <li class= {{ homstat }}><a href="{% url 'myweb:index' %}">Timeline</a></li>
                                <li class= {{ porstat }}><a href="{% url 'myweb:portofolio' %}">Portofolio</a></li>
                                <li class= {{ abtstat }}><a href="{% url 'myweb:about' %}">About</a></li>
                                <li class= {{ msgstat }}><a href="{% url 'myweb:message' %}">Message</a></li>
                                <li class= {{ scdstat }}><a href="{% url 'myweb:view_sched' %}">Schedule</a></li>
                                <li><a style="padding: 12px 15px 12px 15px; fill: #ffffff" href="{% url 'myweb:login' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"/></svg></a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </div>

            {% block main %}
            {% endblock %}
        </div>


        <script src="{%static "js/app.js" %}"></script>
        <script src="{%static "js/vendor/jquery.js" %}"></script>
        <script src="{%static "js/vendor/foundation.js" %}"></script>
    </body>
</html>
