{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{%static "css/app.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/foundation.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/foundation.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/styleacc.css" %}">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <title>
            {{ title }}
        </title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </head>
    <body style="">
        <div class="login-wrapper">
        </div>
            
        <!-- Navbar -->
        <div class="title-bar grid-x" data-responsive-toggle="example-menu" data-hide-for="medium">
            <div class="cell small-6">
                <h1> {{ title }} </h1>
            </div>
                
            <div class="logo-self cell small-6">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
            </div>
            
        </div>
            
        <div class="top-bar grid-x" id="example-menu">
            <div class="cell shrink hide-for-small-only">
                <div class="cell small-6">
                    <h4> {{ title }} </h4>
                </div>
            </div>
                

            <div class="cell medium-shrink">
                <ul class="menu medium-horizontal large-horizontal" data-responsive-menu="small-accordion medium-dropdown" style="width: 100%;">
                    <li><a href="{% url 'myweb:index' %}">Home</a></li>
                    <li><a href="{% url 'myweb:view_sched' %}">Schedule</a></li>
                    <li><a href="{% url 'myweb:signup' %}">Register</a></li>
                </ul>
            </div>
        </div>


        {% block main %}
        {% endblock %}

        <script src="{%static "js/app.js" %}"></script>
        <script src="{%static "js/vendor/jquery.js" %}"></script>
        <script src="{%static "js/vendor/foundation.js" %}"></script>
    </body>
</html>
