{% extends 'base2.html' %}

{% block main %}
<div class="grid-x" style="margin: 20px">
    <div class="cell small-1">

    </div>
    <div  style="background: #eaeaea; padding: 25px; border-radius: 30px" class="cell small-10">
        <section name="form">
            <h2 style="color: #2c3e50">Create Schedule</h2>
            <form action="{% url 'myweb:sched_post' %}" id="form", method="POST">
                {% csrf_token %}
                {{ schedule_form }}
                <br>
                <button type="submit" class="button">Submit</button>
            </form>
        </section>
    </div>
    <div class="cell small-1"></div>

</div>
{% endblock %}
