{% extends "base.html" %}

{% block main %}
<div class="content grid-x">
    <div class="cell medium-4" style="background-color: #ECF0F1">

    </div>
    <div class="timeline-self cell medium-7">
        <div class="timeline" style="color: #000000">

            <div class="timeline-item">
                <div class="timeline-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 21h-9v-2h9v2zm6.695-2.88l-3.314-3.13-1.381 1.47 4.699 4.54 8.301-8.441-1.384-1.439-6.921 7zm-6.695-1.144h-9v-2h9v2zm8-3.976h-17v-2h17v2zm7-4h-24v-2h24v2zm0-4h-24v-2h24v2z"/></svg>
                </div>
                <div class="timeline-content">
                    <p class="timeline-content-date">2018</h2>
                    <h5><strong>Person In Charge Public Relation and Publication</strong></h5>
                    <p>Open House Fasilkom UI 2018</p>
                </div>
            </div>
            
            <div class="timeline-item">
                <div class="timeline-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"/></svg>
                </div>
                <div class="timeline-content right">
                    <p class="timeline-content-date">2018</h2>
                    <h5><strong>CRM Internship</strong></h5>
                    <p>Monk’s Hill Ventures</p>    
                </div>
            </div>
            
            <div class="timeline-item">
                <div class="timeline-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M17 24h-10l-2-14h14l-2 14zm-.592-10h-8.816l.571 4h7.674l.571-4zm1.631-8c0 .922 1.092 1.618 1.961 1.618v1.382h-16v-1.382c.87 0 2-.697 2-1.618h12.039zm-7.73-.691c2.819-2.143-.594-2.353.077-3.868-2.361 2.113.85 2.169-.077 3.868zm2.486-.001c4.236-3.238-.877-3.067.105-5.308-3.382 2.895 1.259 2.959-.105 5.308z"/></svg>
                </div>
                <div class="timeline-content">
                    <p class="timeline-content-date">2018</h2>
                    <h5><strong>Staff of Online Marketing</strong></h5>
                    <p>COMPFEST X</p>  
                </div>
            </div>
            
            <div class="timeline-item">
                <div class="timeline-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 11.5c0 3.613-2.951 6.5-6.475 6.5-2.154 0-4.101-1.214-5.338-3h-2.882l-1.046-1.013-1.302 1.019-1.362-1.075-1.407 1.081-4.188-3.448 3.346-3.564h8.841c1.145-1.683 3.104-3 5.339-3 3.497 0 6.474 2.866 6.474 6.5zm-10.691 1.5c.98 1.671 2.277 3 4.217 3 2.412 0 4.474-1.986 4.474-4.5 0-2.498-2.044-4.5-4.479-4.5-2.055 0-3.292 1.433-4.212 3h-9.097l-1.293 1.376 1.312 1.081 1.38-1.061 1.351 1.066 1.437-1.123 1.715 1.661h3.195zm5.691-3.125c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/></svg>
                </div>
                <div class="timeline-content right">
                    <p class="timeline-content-date">2018</h2>
                    <h5><strong>Staff of Public Relation</strong></h5>
                    <p>BEM Fasilkom UI 2018</p>  
                </div>
            </div>
        </div>          
    </div>
</div>
{% endblock %}
