{% extends "base.html" %}

{% block main %}

<div class="content grid-x">
    <div class="cell medium-4" style="background-color: #ECF0F1">

    </div>
    <div class="cell medium-7 message-self">
        <div class="grid-x">
            <div class="cell large-12 columns">
                <h2>Send me a message!</h2>
                <br>    
            </div>

            <div class="cell large-6 columns" style="padding: 0 10px 0 10px">
                <input type="text" placeholder="Name" />
            </div>

            <div class="cell large-6 columns" style="padding: 0 10px 0 10px">            
                <input type="text" placeholder="Email" />
            </div>
            
            <div class="cell large-12 columns"  style="padding: 0 10px 0 10">
                <textarea placeholder="Write your message here!" style="height: 200px"></textarea>
            </div>

            <div class="cell large-12 columns" style="padding: 0 10px;">
                <a class="button expanded" href="#">Submit</a>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}