{% extends "base.html" %}

{% block main %}
<div class="content grid-x">
    <div class="cell medium-4" style="background-color: #ECF0F1">

    </div>
    <div class="cell medium-7 portofolio-self grid-x">
        <div class="cell large-12 title-porto-self">
            <h3>Website</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ratione rerum ex quas earum quam debitis, 
                at rem aspernatur excepturi adipisci delectus! 
                Saepe molestias corrupti maiores exercitationem laborum 
                rerum voluptatum temporibus!</p>
        </div>
        <div class="cell large-6">
            <div class="one-row">
                <svg>
                    <rect x="20" y="110" height="40" width="275" style="fill:#34495E;"></rect>
                    <rect x="20" y="5" width="275" height="145"
                    style="fill: #ffffff;stroke:#34495E;stroke-width:3;fill-opacity:0.1;stroke-opacity:1" />
                    <text x="30" y="137" font-family="Arial" font-size="24" fill="#3498db">Traveloka</text>
                </svg>
            </div>
            <div class="one-row">
                <svg>
                    <rect x="20" y="110" height="40" width="275" style="fill:#34495E;"></rect>
                    <rect x="20" y="5" width="275" height="145"
                    style="fill: #ffffff;stroke:#34495E;stroke-width:3;fill-opacity:0.1;stroke-opacity:1" />
                    <text x="30" y="137" font-family="Arial" font-size="24" fill="#9b59b6">COMPFEST</text>
                </svg>
            </div>
        </div>

        <div class="cell large-6">
            <div class="one-row">
                <svg>
                    <rect x="20" y="110" height="40" width="275" style="fill:#34495E;"></rect>
                    <rect x="20" y="5" width="275" height="145"
                    style="fill: #ffffff;stroke:#34495E;stroke-width:3;fill-opacity:0.1;stroke-opacity:1" />
                    <text x="30" y="137" font-family="Arial" font-size="24" fill="#2ecc71">Tokopedia</text>font-family="Arial" font-size="24" fill="#2ecc71">Tokopedia</text>
                </svg>
            </div>

            <div class="one-row">
                <svg>
                    <rect x="20" y="110" height="40" width="275" style="fill:#34495E;"></rect>
                    <rect x="20" y="5" width="275" height="145"
                    style="fill: #ffffff;stroke:#34495E;stroke-width:3;fill-opacity:0.1;stroke-opacity:1" />
                    <text x="30" y="137" font-family="Arial" font-size="24" fill="#e74c3c">Kulina</text>font-family="Arial" font-size="24" fill="#2ecc71">Tokopedia</text>
                </svg>
            </div>
        </div>
            
    </div>
    
</div>

{% endblock %}