{% extends 'base2.html' %}

{% block main %}
<div id="content-login">
    
    <div style="padding: 100px 0;" class="login-self grid-x align-center">
        <div class="cell large-2">

        </div>
        <div style="max-width: 600px; border-radius: 20px; padding: 25px 0" class="login-sec cell large-8">
            
            <div class="login-landing grid-x align-center">
                <h2 style="color: #95a5a6">Sign up now</h2>
                <h5 style="color: #95a5a6">Fill in the form below to get the access</h5>
                <br>
                <br>
                <div class="grid-x grid-margin-x">

                    <div class="cell large-6 columns">
                        <label style="color: #95a5a6">Full name</label>
                        <input type="text"/>
                        <label style="color: #95a5a6">Email</label>
                        <input type="email"/>  
                    </div>

                    <div class="cell large-6 columns">            
                        <label style="color: #95a5a6">Birth date</label>
                        <input type="date"/>
                        <label style="color: #95a5a6">Username</label>
                        <input type="text"/>
                    </div>

                    
                    <div class="cell large-12 columns">
                        <label style="color: #95a5a6">Password</label>
                        <input type="password" />    
                    </div>

                    <div class="cell large-12 columns">
                        <label style="color: #95a5a6">Confirm password</label>
                        <input type="password"/>    
                    </div>


                    <div class="cell large-12 columns">
                        <br>
                        <a class="button expanded" href="#">Sign up</a>
                    </div>
                </div>    
            </div>
            
        </div>
        <div class="cell large-2">
            
        </div>                
    </div>

</div>
{% endblock %}