<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        {% block content %}
        <h2>Terima kasih!</h2>
        {% endblock %}
        
        {% block footer %}
        {% endblock %}    
    </body>
</html>