{% extends 'base2.html' %}
{% block main %}
<!--  Populate semua isi pesan dari model -->
<div style= {{ showpopup }} id="thover"></div>
 
    <div style= {{ showpopup }} id="tpopup">
    <h2> {{ word }} </h2> 

    <div id="tclose">X</div>    
</div>
<div id="content-login">
    <div style="margin: 30px 0 0 10px" class="grid-x align-middle">
        <div class="cell small-1">

        </div>
        <div class="cell small-5">
            <h2 style="color: #ecf0f1;">Our Schedule</h2> 
        </div>
        <div class="cell small-5 float-right">
            <a class="button float-right" href="{% url 'myweb:create_sched' %}">Add</a>
        </div>
        <div class="cell small-1">

        </div>
    </div>
    {% for i in schedule %}
    <div style="padding: 10px 0; margin: 2px 0;" class="login-self grid-x align-center">
        
        <div class="cell small-1">

        </div>
        
        <div class="item-event cell small-10 grid-x align-middle">
            
                <div class="cell medium-4"> <h4> {{i.event_name}} </h4> </div>
                <div class="cell medium-2"> {{i.event_date}} <br> {{i.event_time}} </div>
                <div class="cell medium-3"> {{i.event_category}} </div>
                <div class="cell medium-3"> {{i.event_place}} </div>        
        
        </div>
        
        <div class="cell small-1">
            
        </div>
    </div>
    {% endfor %}
    <div class="grid-x align-center">
        
            <div class="cell small-1">
    
            </div>
            
            <div class="cell small-10 grid-x align-middle">
                <a class="button expanded" href="{% url 'myweb:delete_all_sched_db' %}">Delete All</a>  
            </div>
            
            <div class="cell small-1">
                
            </div>
        </div>
</div>
<script>
    $(document).ready(function(){
  
    $("#thover").click(function(){
        $(this).fadeOut();
        $("#tpopup").fadeOut();
    });
  
  
    $("#tclose").click(function(){
        $("#thover").fadeOut();
        $("#tpopup").fadeOut();
	});
  
});
</script>


{% endblock %}